*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.app{
    background: url("../homepage_wall.jpg");
    background-size: cover;
    background-position-y:bottom;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}